@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
@import "tailwindcss";

@theme inline {
    --color-primary: #d3dad9;
    --color-secondary: #37353e;
    --color-accent: #c50d08;
    --color-accent-hover: #b30804;
    --color-accent-foreground: #ffffff;
    --color-primary-foreground: #37353e;
    --color-secondary-foreground: #0c0e0b;
    --color-border: #aeb7b6;
    --color-placeholder: #9aa3a1;
    --font-outfit: "Outfit", sans-serif;
}

:root {
    background-color: var(--color-primary);
    color: var(--color-secondary);
    font-family: var(--font-outfit);
}
